body{
  width: 100%;
  height: 3795px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header{
  width: 1410px;
  height: 12em;
  margin-top: 10px;
}

.header_1_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.verson_for_visually_impaired{
  display:flex;
}

.insta{
  margin: 16px;
}

.img_insta{
  width: 18px;
  height: 18px;
}

.twit{
  margin: 16px;
}

.img_twit{
  width: 18px;
  height: 18px;

}

.vk{
  margin: 16px;
}

.img_vk{
  width: 18px;
  height: 18px;
}
.line_1{
  border-right: 2px solid #828282;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom:15px;
}

.line_2{
  border-right: 2px solid #828282;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom:15px;
}

.txt{
  color: #828282;
}

.txt_1{
  margin-left: 30px;
  color: #828282;
}

.txt_1:hover{
  color:#09ABE4;
  cursor: pointer;
}

.txt_2{
  margin-right: 30px;
  color: #828282;
}

.txt_2:hover{
  color:#09ABE4;
  cursor: pointer;
}

.pay{
  display: flex;
}

.header_2_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.logo{
  width: 20px;
}

.img_logo1{
  position: absolute;
  top: 114px;
}

.img_logo2{
  position: absolute;
  top: 98px;
  left: 260px;
}

.img_logo3{
  position: absolute;
  top: 95px;
  left: 336px;
}

.img_logo4{
  position: absolute;
  top: 95px;
  left: 404px;
}

.img_logo5{
  position: absolute;
  top: 123px;
  left: 407px;
}

.img_logo6{
  position: absolute;
  top: 122px;
  left: 365px;
}

.img_logo7{
  position: absolute;
  top: 117px;
  left: 427px;
}

.img_logo8{
  position: absolute;
  top: 123px;
  left: 386px;
}

.img_logo9{
  position: absolute;
  top: 95px;
  left: 317px;
}

.img_logo10{
  position: absolute;
  top: 95px;
  left: 377px;
}

.number{
  font-family: Lato;
  font-size: 24px;
  cursor: pointer;
}

.block_search{
  display: flex;
}

.inp_search{
  width: 282px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #E3E3E3;
}

.btn_search{
  background-color: white;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  cursor: pointer;
}

.lupa{
  width: 16px;
  height: 16px;
}

.log_regist_buck{
  display: flex;
}

.txt_3{
  margin-right: 30px;
  color: #333333;
  font-size: 16px;
}

.txt_3:hover{
  color:#09ABE4;
  cursor: pointer;
}

.pole_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.txt_menu{
  color: #333;
  font-family: Lato;
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;

}

.txt_menu:hover{
  color:#09ABE4;
  cursor: pointer;
}

.slider{
  width: 1409px;
  height: 548px;
  display: flex;
  margin-top: 51px;
}

.txt_fon{
  width: 600px;
  height: 548px;
  background-image: url(/img/fon1.png);
  display: flex;
  flex-direction: column;

}

.txt_heading{
  font-family: Lato;
  font-size: 40px;
  width: 366px;
  height: 87px;
  weight:600px;
  line-height: 43.2px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 161px;
  margin-left: 90px;

}

.txt_glass{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 108%;
  letter-spacing: 0.9px;
  width: 480px;
  height: 41px;
  flex-shrink: 0;
  margin: 0;
  margin-top: 26px;
  margin-left: 90px;
}

.btn_fon{
  color:  #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;     //15.12px
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 21px;
  margin-left: 90px;
  width: 230px;
  height: 50px;
  flex-shrink: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0.75px solid #FFFFFF ;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.img_slider{
  width: 809px;
  height: 548px;
}

.selection{
  width: 1410px;
  height: 340px;
  flex-shrink: 0;
  margin-top: 100px;
  background-image: url(/img/fon2.jpg);
  display: flex;
}

.glasses{
  width: 652px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selection_heading{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-left: 90px;
  margin-top: 70px;
}

.selection_txt{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 144%; //25.92px;
  letter-spacing: 0.9px;
  margin: 0;
  margin-left: 91px;
  margin-top: 39px;
}

.btn_selection{
  color: #FFFFFF;
  width: 230px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0.75px solid #FFFFFF ;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
  margin-top: 23px;
  margin-left: 91px;
}

.selection_glasses{
  width: 705px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.img_glass{
  width: 499px;
  height: 188px;
  flex-shrink: 0;
}

.popular{
  width: 1410px;
  height: 610px;
  margin-top: 100px;

}

.popular_products{
  color: #333;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ochechi_card{
  width: 330px;
  height: 330px;
  background-color: #F2F2F2 ;
  display: flex;
}

.new{
  position: absolute;
  background: #09ABE4;
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.new_txt{
  color: #FFF;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.glass_card{
  display: flex;
  align-items: center;
  height: 610px;
   justify-content: space-between;
}

.ochechi{
  width: 254px;
  height: 254px;
  flex-shrink: 0;
  margin-top: 37px;
  margin-left: 38px;
}

.acuvue{
  width: 282px;
  height: 98px;
  flex-shrink: 0;
  margin-top: 116px;
  margin-left: 24px
}


.ochechi2{
  width: 243px;
  height: 190px;
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 44px
}

.txt_name{
  width: 309px;
  color: #333;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; // 23.76px
}

.ochechi_1:hover{
  transition: .5s;
  width: 330px;
  height: 490px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
  transition: .1s;
}

.txt_name1{
  margin: 0;
  margin-top: 12px;
  color: #333;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 23.76px */
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_glasses1{
  color: #09ABE4;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.price_glasses2{
  color: #828282;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
  margin: 0;

}

.basket{
  display: flex;
}

.Group{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 7px;
  cursor: pointer;
}

.btn_name{
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid #09ABE4;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #09ABE4;
  cursor: pointer;
}

.btn_name:hover{
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  background: #09ABE4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  color: #FFFFFF;
}

.tocks{
  width: 1410px;
  height: 516px;
  flex-shrink: 0;
  margin-top: 150px;
}

.tocks_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.tocks_txt{
  color: #333;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.all_tocks{
  margin: 0;
  color: #09ABE4;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.class_action{
  display: flex;
}

.action1{
  margin-top:40px;
  width: 690px;
  height: 440px;
  flex-shrink: 0;
  background-image: url(/img/action_1.jpg);
  display: flex;
}

.action1_txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottom_txt_fon{
  width: 690px;
  height: 154px;
  flex-shrink: 0;
  background: linear-gradient(242deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  backdrop-filter: blur(5px);
}

.action_txt1{
  color: #FFF;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  margin-left: 50px;
}

.action_txt2{
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  margin-left: 50px;
}

.action_txt3{
  color: #FFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-left: 50px;
  cursor: pointer;
}

.action2{
  margin-top:40px;
  width: 690px;
  height: 440px;
  flex-shrink: 0;
  background-image: url(/img/action_2.jpg);
  display: flex;
}

.About_company{
  margin-top: 100px;
  display: flex;
}

.About_company_txt{
  width: 706px;
  height: 580px;
  flex-shrink: 0;
  background-image: url(/img/Rectangle.png);

}

.About{
  color: #FFF;
  font-family: Lato;
  font-size: 30px;
  font-weight: lighter;
  margin-left: 50px;

}

.About_txt{
  color: #FFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  margin-left: 50px;
  margin-right: 53px;
  line-height: 1.8;
}

.footer{
  width: 1409px;
  height: 371px;
  margin-top: 65px;
}

.logo_footer{
  display: flex;
  margin: 0;
  align-items: center;
}

.logo_footer{
  width: 209px;
  height: 52px;
}

.menu2{
  width: 1040px;
  height: 21px;
}

.pole_menu2{
  display: flex;
  align-items: center;
}

.txt_menu2{
  margin-right: 5px;
  width: 144px ;
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 20.16px */
  text-transform: uppercase;
}

.txt_menu2:hover{
  color:#09ABE4;
  cursor: pointer;
}

.info{
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.txt_info1{
  max-width: 217px;
  color: gray;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.txt_info2{
  color: #13107A;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%; /* 23.04px */
  text-transform: uppercase;
}

.txt_info3{
  color: #13107A;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 126%; /* 20.16px */
  text-decoration-line: underline;
  cursor: pointer;
}

.txt_info4{
  color: #09ABE4;
  font-family: Lato;
  font-size: 16px;
}

.txt_info5{
  max-width: 598px;
  color: gray;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.txt_info6{
  max-width: 217px;
  color: gray;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 10px;
}

.internet_shop{
  display: flex;
}

.info_group{
  display: flex;
}

.inpt_search{
  width: 274px;
  height: 40px;
  background: #F7F7F7;
  border: none;
}

.search_footer{
  display: flex;

}

.btn_search_footer{
  width: 40px;
  height: 40px;
  border: none;
  background: linear-gradient(229deg, rgba(40, 38, 150, 0.96) 0%, #09ABE4 100%);
  cursor: pointer;
}

.shop_card{
  display: flex;
  justify-content: space-between;
}

.card{
  display: flex;
  align-items: center;
}

.card_photo1{
  width: 40.642px;
  height: 25px;
}

.card_photo2{
  width: 31.752px;
  height: 8.75px;
}
